body{
	margin: 0 auto;
	width: 95%;
	background-color: #BADED6;
}

#input-form{

	width: 45%;
	display: none;

}

#page-update{
	list-style: none;
	border-bottom: 3px solid #CCC;
	border-right: 3px solid #CCC;
	margin: 0;
}

#page-update li{

	margin: 5px;
}

#page-update label{
	display: inline-block;
	text-align: right;
	width: 40%;
	margin-right: 10px;
	white-space: nowrap;
}

#form-submit{
	text-align: right;
}

#form-submit input{
	margin-right: 87px;
}

.avatar{
	height: 250px;
	width: 250px;	
}

#show-form{
	background-color: #E7D1FF;
	border-radius: 14px;
	color: #2988DB;
	font-family: Courier New;
	font-weight: bold;
	text-shadow: -2px 2px 2px #9C9A9C;
	border: none;

}

.main-content{
	overflow: hidden;
	margin-top: 50px;
	padding: 5px;
}

.col{
	color: #268CD4;
	font-weight: bold;
	text-shadow: -2px 2px 2px #000;
}

.left{
	float: left;
	width: 25%;
	background-color: #D3EB4B;
	text-align: center;

}

.mid{
	float: left;
	width: 45%;
	background-color: #41BFA8;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;

}

.right{
	float: left;
	width: 25%;
	background-color: #634BEB;
	text-align: center;

}

.shadow{
	box-shadow: -3px 3px 5px #CCC;
}